@import "tailwindcss";

#root {
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(240, 240, 240);
}

.container {
  margin-left: 200px;
  max-width: calc(100vw - 200px);
  min-height: 100vh;
}